nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
}
a{
    text-decoration: none;
}
a:hover{
  background:black;
  color:white;
}
.checkbox{
  display: flex;
  flex-direction: column;
}
.wrapper{
  display:flex;
  flex-direction: row;
  align-items: center;
}